doctype html
html
  head
    title Connection Information
    style.
      body {
        max-width: 700px;
        padding: 0 30px;
        margin: 0 auto;
        font: 16px sans-serif;
      }
      h1 {
        font-size: 2em;
      }
      h2 {
        font-size: 1.6em;
      }
      h3 {
        font-size: 1em;
      }
      table {
        border-collapse: collapse;
      }
      th {
        text-align: left;
      }
      th,
      td {
        padding: 3px 0;
      }
      .columns {
        width: 100%;
      }
      .columns td:nth-child(2) {
        width: 35%;
      }
      .columns td:nth-child(3) {
        width: 20%;
      }
  body
    main
      h1 Connection Information
      section.table-container
        each table in tables
          article.table
            h2= table.name
            table.columns
              thead
                th Name
                th Type
                th Nullable
              tbody
                each column in table.columns
                  tr
                    td= column.column_name
                    td= column.data_type
                    td= column.is_nullable
            h3 Data
            if table.data.length > 0
              table.data
                thead
                  tr
                    each column in table.columns
                      th= column.column_name
                tbody
                  each row in table.data
                    tr
                    each column in row
                      td= column
            else
              p.empty Table is currently empty
